@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$table-border-color: #ddd;
$table-bg-color: #fff;
$table-hover-bg-color: #f9f9f9;
$table-striped-bg-color: #f2f2f2;
$table-heading-bg-color: #f1f1f1;
$table-heading-color: #333;
$table-cell-padding: 0.5rem;
$table-cell-border: 1px solid $table-border-color;

$accent: #156f91;
$warning: #ea6818;


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  //border: 1px solid $accent;
  //border-radius: 15px !important;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1rem 0;
  max-width: 350px;
  width: 350px;

  .title {
    padding: 1rem .8rem;
    text-align: center;
    h1{
      font-size: 1.5rem;
    }
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .annotation{
    opacity: .85;
    font-size: .85rem;
    max-width: 100%;
    text-align: center;
    margin: .5rem;
    line-height: 1rem;
    &:empty{
      margin: 0;
    }
    &.status{
      color: $accent;
    }
  }

  .current-list {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden auto;
    background-color: $table-bg-color;

    thead, tbody{
      tr{
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }

    .scroll-body{
      display: block;
      max-height: 200px;
      overflow-y: auto;
    }

    th, td {
      padding: $table-cell-padding;
      text-align: center;
      border: $table-cell-border;

      &:has(input){
        padding: 0;
      }

      input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: $table-cell-padding;
        background: transparent;
      }

      &.add {
        cursor: pointer;
      }
    }

    th {
      background-color: $table-heading-bg-color;
      color: $table-heading-color;
      font-weight: 600;
    }

    tbody tr {
      &:nth-child(even) {
        background-color: $table-striped-bg-color;
      }

      &:hover {
        background-color: $table-hover-bg-color;
      }
    }

    caption {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .setting-row{
    margin: .5rem;
  }

  .controls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem .5rem;
    button:nth-child(3){
      border-color: $warning;
    }
  }

  button {
    padding: .5rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid $accent;
    background: #ffffff;
    transition: all .1s ease;

    &:hover {
      opacity: .9;
      background: rgba(#000, .1);
      transition: all .1s ease;
    }
  }

}